$header-height: 10rem;
$header-title-height-ratio: .65;
$header-title-max-font-size: 3.2rem;
$header-subtitle-max-font-size: 1.5rem;
$header-title-min-font-size: 2.8rem;
$header-subtitle-min-font-size: 1.2rem;

$footer-height: 2rem;

$body-bg: #ddd; 
$body-color: #000;
$body-image: url('/background.png');
$link-color: #090909;

$article-special-color-1: #6B7387;
$article-special-color-2: #89BABF;

$title-font-url: '/fonts/CormorantGaramond-Bold.ttf';
$subtitle-font-url: '/fonts/CormorantGaramond-Regular.ttf';